body{
    font-family: 'Poppins';
}

.login {
    background: #F0F2F5;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;

    .loginLeft{
        width: 60vw;
        height: 100vh;
    }

    .loginRight {
        width: 45vw;
        height: 100vh;
        background-color: white;
        float: right;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .top{
            margin-bottom: 25px;
            align-items: center;
            display: flex;
            flex-direction: column;
        }

        .bottom{
            margin-bottom: 10px;
            align-items: center;
            display: flex;
            flex-direction: column;
        }
    }
}