.app-container {
  padding: 20px;
  // height: 100vh;
  margin: 20px;
  background-color: white;
  border-radius: 10px;
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);

  .top {
    width: 100%;
    font-size: 24px;
    color: gray;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;


  }

  .bottom {
    display: flex;
    flex-direction: column;
    width: 100%;


    .formTop,
    .formBottom {
      padding: 5px;
      box-sizing: border-box;
      display: inline-block;

    }

    .formTop {

      justify-content: space-between;


      input,
      select {
        width: 15%;
        padding: 5px;
        margin-right: 5px;
        margin-bottom: 5px;
        border: none;
        border-bottom: 1px solid gray;
        border-right: 1px solid gray;
      }
    }
  }

  .ant-table-container {
    width: 100%;
    justify-content: center;
    align-items: center;
    border-collapse: collapse;

    th,
    td {
      text-align: left;
      padding: 8px;
      font-size: 14px;
    }

    .ant-table-thead>tr>th {
      background-color: rgb(62, 63, 63);
      color: white;
      text-align: center;
    }

    // .ant-table-thead>tr>th:first-child {
    //   border-top-left-radius: 10px;
    // }

    // .ant-table-thead>tr>th:last-child {
    //   border-top-right-radius: 10px;
    // }

    td {
      text-align: center;
      background-color: white;
    }
  }

  form * {
    font-size: 14px;
  }
}