.datatable {
    // height: 100vh;
    // padding: 20px 0;
    background-color: white;
    border-radius: 10px;
    margin: 20px;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);

    .ant-table-container {
        width: 100%;
        justify-content: center;
        align-items: center;
        border-collapse: collapse;

        th,
        td {
            text-align: left;
            padding: 8px;
            font-size: 14px;
        }

        .ant-table-thead>tr>th{
            text-align: center;
            -webkit-box-shadow: inset 0 10px 9px -7px rgba(0, 0, 0, 0.47);
            box-shadow: inset 0 5px 9px -7px rgba(201, 201, 201, 0.47);
        }

        // .ant-table-thead>tr>th:first-child {
        //     border-top-left-radius: 10px;
        // }

        // .ant-table-thead>tr>th:last-child {
        //     border-top-right-radius: 10px;
        // }

        td {
            text-align: center;
            background-color: rgba(246, 246, 246);

        }


    }
    .ant-table-pagination {
        margin: 15px 20px 15px 0;
    }

    .dataTableTitle {
        width: 100%;
        font-size: 24px;
        color: gray;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;

    }


}