.new {
    width: 100%;
    border-radius: 10px;

    h1 {
        color: rgb(172, 172, 172);
        font-size: 20px;
    }

    .top,
    .bottom {
        background-color: white;
        padding: 20px;
        margin: 20px;
        display: flex;

        .left {
            flex: 1;
            text-align: center;

            img {
                width: 100px;
                height: 100px;
                border-radius: 50%;
                object-fit: cover;
            }
        }

        .right {
            flex: 2;

            form {
                display: flex;
                flex-wrap: wrap;
                gap: 30px;
                justify-content: space-around;
                

                .formInput {
                    width: 40%;
                    

                    label {
                        display: flex;
                        align-items: center;
                        gap: 10px;

                        .icon {
                            cursor: pointer;
                        }
                    }

                    input {
                        width: 100%;
                        padding: 5px;
                        border: none;
                        border-bottom: 1px solid gray;
                    }
                }

                .selection{
                    width: 40%;

                    label {
                        display: flex;
                        align-items: center;
                        gap: 10px;
                    }

                    select {
                        width: 100%;
                        padding: 5px;
                        border: none;
                        border-bottom: 1px solid gray;
                    }

                    
                }
                button {
                    width: 60%;
                    padding: 10px;
                    border: none;
                    background-color: teal;
                    color: white;
                    cursor: pointer;
                    font-weight: bold;
                    margin-top: 10px;
                }

                
            }
        }
    }
}