.datatable {
    // height: 100vh;
    padding: 20px 0;
    background-color: white;
    border-radius: 10px;
    margin: 20px;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);

    .ant-table-container {
        width: 100%;
        justify-content: center;
        align-items: center;
        border-collapse: collapse;

        th,
        td {
            text-align: left;
            padding: 8px;
            font-size: 14px;
        }

        .ant-table-thead>tr>th{
            text-align: center;
        }

        // .ant-table-thead>tr>th:first-child {
        //     border-top-left-radius: 10px;
        // }

        // .ant-table-thead>tr>th:last-child {
        //     border-top-right-radius: 10px;
        // }

        td {
            text-align: center;
            background-color: rgb(246, 246, 246);
        }
    }

    .dataTableTitle {
        width: 100%;
        padding: 0 20px;
        font-size: 24px;
        color: gray;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;

    }

    .cellWithImg {
        display: flex;
        align-items: center;
        justify-content: center;

        .cellImg {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            object-fit: cover;
        }
    }

    .cellWithStatus {
        padding: 5px;
        border-radius: 5px;

        &.Active {
            color: green;
            background-color: rgba(0, 128, 0, 0.151);
        }

        &.Pending {
            color: goldenrod;
            background-color: rgba(218, 165, 32, 0.2);
        }

        &.Passive {
            color: red;
            background-color: rgba(255, 0, 0, 0.2)
        }
    }


    .cellAction {
        display: flex;
        align-items: center;
        gap: 15px;

        .viewButton {
            padding: 2px 5px;
            border-radius: 5px;
            color: darkblue;
            border: 1px solid rgba(0, 0, 139, 0.527);
            cursor: pointer;
        }

        .deleteButton {
            padding: 2px 5px;
            border-radius: 5px;
            color: crimson;
            border: 1px solid rgba(220, 20, 60, 0.459);
            cursor: pointer;
        }
    }


}