.header {
    padding: 0px 35px;
    left: 0px;
    right: 0px;
    top: 0px;

    background: #001529;

    /* border & divider/divider ↓ */

    .left { 
        float: left;
        .logo {
            font-size: 20px;
            font-weight: bold;
            color: rgb(221, 221, 221);
        }
    }

    .right {
        float: right;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        .user {
            font-size: 15px;
            font-weight: bold;
            color: rgb(221, 221, 221);
        }
        .avatar {
            width: 35px;
            height: 35px;
            border-radius: 50%;
            object-fit: cover;
            margin-left: 25px;
        }
    }

}