.sidebar{
    border-right: 1px solid rgba(65, 62, 62, 0.068); 
    min-height: 100vh;
    background-color: white;

    .top{
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;

        .logo{
            font-size: 20px;
            font-weight: bold;
            color: #6439ff;
        }
    }

    .center{
            span{
                font-size: 13px;
                font-weight: 600;
                color: #888;
            }
    }
}