.new {
    width: 100%;
    border-radius: 10px;

    h1 {
        color: rgb(172, 172, 172);
        font-size: 20px;
    }

    .top,
    .bottom {
        background-color: white;
        padding: 20px;
        margin: 20px;
        display: flex;
        -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
        box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
        display: block;

        .stockPicking{
            display: inline-block;
            width: 100%;
            margin: 10px 0;
            

            .ant-form-item{
                margin: 0 0 10px
            }
            .left,.right{
                display: inline-table;
                padding: 5px;
                width: 50%;
                vertical-align: top;
                text-align: left;
                .ant-select.ant-select-in-form-item{
                    width: 100%;
                }
                .ant-picker{
                    width: 100%;
                }
            }

            .stockMove{
                .ant-space-align-baseline{
                    flex-wrap: wrap;
                    width: 100%;
        
                    .ant-space-item{
                        flex-grow: 1;
                    }
                    .ant-input-number{
                        width: 100%;
                    }
                    .ant-input{
                        width: 100%;
                    }
                    .ant-select-selector{
                        width: 100%;
                    }
                    .ant-picker{
                        width: 100%;
                    }
                }

                .ant-table-thead>tr>th{
                    text-align: center;
                    -webkit-box-shadow: inset 0 10px 9px -7px rgba(0, 0, 0, 0.47);
                    box-shadow: inset 0 5px 9px -7px rgba(201, 201, 201, 0.47);
                }
            
            }
        }
        
    }
}