.testtable{
    padding: 20px;
    background-color: white;
    margin: 0 20px 20px 20px;

    .ant-table-container {
        width: 100%;
        justify-content: center;
        align-items: center;
        border-collapse: collapse;

        th,
        td {
            text-align: left;
            padding: 8px;
            font-size: 14px;
        }

        .ant-table-thead>tr>th{
            background-color: rgb(62, 63, 63);
            color: white;
            text-align: center;
        }

        .ant-table-thead>tr>th:first-child {
            border-top-left-radius: 10px;
        }

        .ant-table-thead>tr>th:last-child {
            border-top-right-radius: 10px;
        }

        td {
            text-align: center;
            background-color: white;
        }
    }

    .dataTableTitle{
        width: 100%;
        font-size: 24px;
        color: gray;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .link{
            text-decoration: none;
            color: green;
            font-size: 16px;
            font-weight: 400;
            border: 1px solid green;
            padding: 5px;
            border-radius: 5px;
            cursor: pointer;
        }
    }

    .cellWithImg{
        display: flex;
        align-items: center;

        .cellImg{
            width: 32px;
            height: 32px;
            border-radius: 50%;
            object-fit: cover;
            margin-right: 20px;
        }
    }

    .cellWithStatus{
        padding: 5px;
        border-radius: 5px;

        &.Active{
            color: green;
            background-color: rgba(0, 128, 0, 0.151);
        }

        &.Pending {
            color: goldenrod;
            background-color: rgba(218, 165, 32, 0.2);
        }

        &.Passive{
            color: red;
            background-color: rgba(255, 0, 0, 0.2)
        }
    }


    .cellAction{
        display: flex;
        align-items: center;
        gap: 15px;

        .viewButton{
            padding: 2px 5px;
            border-radius: 5px;
            color: darkblue;
            border: 1px solid rgba(0, 0, 139, 0.527);
            cursor: pointer;
        }

        .deleteButton{
            padding: 2px 5px;
            border-radius: 5px;
            color: crimson;
            border: 1px solid rgba(220, 20, 60, 0.459);
            cursor: pointer;
        }
    }
}