#components-layout-demo-top-side-2 .logo {
    float: left;
    width: 120px;
    height: 31px;
    margin: 5px 15px;
    background: rgba(255, 255, 255, 0.3);
  }
  
  .ant-row-rtl #components-layout-demo-top-side-2 .logo {
    float: right;
    margin: 16px 0 16px 10px;
  }
  
  .site-layout-background {
    background: #fff;
  }

  .site-page-header{
    padding: 10px 25px;
  }